.bento{
    display: grid;
    grid-auto-rows: 50px;
    gap: 4px;
    
    font-size: 0.8rem;
    grid-template-areas:
        "item-0 item-0 item-0 item-0"
        "item-0 item-0 item-0 item-0"
        "item-0 item-0 item-0 item-0"
        "item-8 item-8 item-8 item-9"
        "item-8 item-8 item-8 item-9"
        "item-1 item-1 item-3 item-3"
        "item-1 item-1 item-4 item-4"
        "item-1 item-1 item-7 item-7"
        "item-6 item-6 item-2 item-2"
        "item-5 item-5 item-2 item-2"
        "item-10 item-10 item-10 item-11"
        "item-10 item-10 item-10 item-11"
        
}

.icon img{
    height: 100%;
    width: 100%;
}

.bento__item{
    
    /* Desing */
    background-color: var(--color-background-light);
    border: 2px solid #2e2e2e;
    cursor: pointer;
    
    /* border: 2px solid rgb(96 139 168); */
    border-radius: 15px; 
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.accenture{
    background: linear-gradient(135deg, #9b00f5 0%, #ac05ff 25%, #05deff 100%);
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
    font-weight: bold;
    font-size: 2rem;

}

.text-bigger{
    display: flex;
    font-size: 1rem;
}

.scale-hover {
    transition: transform 0.4s ease;
}

.bento:has(:hover) .scale-hover {
    transform: scale(1.2); 
}

.dynamic-texts{
    margin-left: 15px;
    line-height: 30px;
    padding: 0;
    height: 30px;
    overflow: hidden;
}

.dynamic-texts li{
    list-style: none;
    position: relative;
    /* display: inline-block; */
    top: 0;
    animation: slide 9s steps(3) infinite;
    
    &:after{
        content: "";
        position: absolute;
        background-color: var(--color-background-light);
        left: 0;
        height: 100%;
        width: calc(100% + 20px);
        border-left: 2px solid #c40000;
        animation: typing 3s steps(10) infinite;
    }
}

@keyframes slide {
    100% {
        top: -90px;
    }
 }

@keyframes typing {
   40%,
   60% {
      left: calc(100%);
   }
   100% {
      left: -20px;
   }
}


@media (min-width: 600px){
    .bento{
        grid-template-areas: 
        "pro11  pro11  pro7  pro7  pro8   pro8"
        "pro11  pro11  pro7  pro7  pro12  pro12"
        "pro17  pro6   pro6  pro6  pro6   pro13"
        "pro10  pro10  pro9  pro9  pro9   pro14"
        "pro10  pro10  pro9  pro9  pro9   pro3"
        "pro15  pro15  pro15 pro15 pro15  pro16"
        "pro5   pro5   pro5  pro5  pro1   pro2"
        "pro5   pro5   pro5  pro5  pro4   pro4"
        "pro5   pro5   pro5  pro5  pro4   pro4"
        "pro5   pro5   pro5  pro5  pro4   pro4"
    }
    .bento__item{
        padding: 10px;
    }
}

@media (min-width: 900px){
    .bento{
        grid-template-areas: 
        "item-1 item-1 item-1 item-2 item-6  item-6  item-7  item-7  item-8   item-8   item-8 "
        "item-1 item-1 item-1 item-3 item-6  item-6  item-7  item-7  item-8  item-8  item-8 "
        "item-4 item-4 item-4 item-4 item-0  item-0  item-0  item-0  item-9   item-9  item-9  "
        "item-5 item-5 item-5 item-5 item-0  item-0  item-0  item-0  item-9   item-9  item-9 "
        "item-5 item-5 item-5 item-5 item-10 item-10 item-11 item-11 item-11  item-11  item-11 "
        "item-5 item-5 item-5 item-5 item-10 item-10 item-11 item-11 item-11  item-11  item-11 "
    }
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 85% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

   /* TODO: REFACTOR this */
   .resize{
    font-size: .8rem !important;
}