.bento{
    display: grid;
    grid-auto-rows: 50px;
    gap: 4px;
    
    font-size: 0.8rem;
    grid-template-areas:
        "item-0 item-0 item-0 item-0"
        "item-0 item-0 item-0 item-0"
        "item-0 item-0 item-0 item-0"
        "item-8 item-8 item-8 item-9"
        "item-8 item-8 item-8 item-9"
        "item-1 item-1 item-3 item-3"
        "item-1 item-1 item-4 item-4"
        "item-1 item-1 item-7 item-7"
        "item-6 item-6 item-2 item-2"
        "item-5 item-5 item-2 item-2"
        "item-10 item-10 item-10 item-11"
        "item-10 item-10 item-10 item-11" 
}

.icon img{
    height: 100%;
    width: 100%;
}

.bento__item{
    
    /* Desing */
    background-color: var(--color-background-light);
    border: 2px solid #2e2e2e; 
    cursor: pointer;
    
    /* border: 2px solid rgb(96 139 168); */
    border-radius: 15px; 
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    *{
        z-index: 1;
    }

    &:focus::before{
        content: "";
        position: absolute;
        width: 200%;
        height: 100%;
        background: linear-gradient(135deg, #9b00f5 0%, #ac05ff 25%, #05deff );
        animation: rotateBorder 5s linear infinite;
        transition: all 0.2s linear;
    }

    &:focus&::after{
        content: "";
        position: absolute;
        background-color: var(--color-background-light);       
        inset: 2px;
    }
}
  
.accenture{
    background: linear-gradient(135deg, #9b00f5 0%, #ac05ff 25%, #05deff 100%);
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 15px; 
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-bigger{
    display: flex;
    font-size: 1rem;
}

.scale-hover {
    transition: transform 0.4s ease;
}

.bento:has(:hover) .scale-hover {
    transform: scale(1.2); 
}

.dynamic-texts{
    margin-left: 15px;
    line-height: 30px;
    padding: 0;
    height: 30px;
    overflow: hidden;
}

.dynamic-texts li{
    list-style: none;
    position: relative;
    /* display: inline-block; */
    top: 0;
    animation: slide 9s steps(3) infinite;
    
    &:after{
        content: "";
        position: absolute;
        background-color: var(--color-background-light);
        left: 0;
        height: 100%;
        width: calc(100% + 20px);
        border-left: 2px solid #c40000;
        animation: typing 3s steps(10) infinite;
    }
}

@keyframes slide {
    100% {
        top: -90px;
    }
 }

@keyframes typing {
   40%,
   60% {
      left: calc(100%);
   }
   100% {
      left: -20px;
   }
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (min-width: 600px){
    .bento{
        grid-template-areas: 
        "item-8 item-8  item-9  item-9  item-7   item-7"
        "item-8 item-8  item-9  item-9  item-7   item-7"
        "item-11 item-0  item-0  item-0  item-0   item-5"
        "item-11 item-0  item-0  item-0  item-0   item-5"
        "item-10 item-0  item-0  item-0  item-0   item-4"
        "item-10 item-0  item-0  item-0  item-0   item-4"
        "item-1 item-1  item-3  item-3  item-2   item-2"
        "item-1 item-1  item-6  item-6  item-2   item-2"
    }
    .bento__item{
        padding: 10px;
    }
}

@media (min-width: 900px){
    .bento{
        grid-template-areas: 
        "item-1 item-1 item-1 item-2 item-6  item-6  item-7  item-7  item-8   item-8   item-8 "
        "item-1 item-1 item-1 item-3 item-6  item-6  item-7  item-7  item-8  item-8  item-8 "
        "item-4 item-4 item-4 item-4 item-0  item-0  item-0  item-0  item-9   item-9  item-9  "
        "item-5 item-5 item-5 item-5 item-0  item-0  item-0  item-0  item-9   item-9  item-9 "
        "item-5 item-5 item-5 item-5 item-10 item-10 item-11 item-11 item-11  item-11  item-11 "
        "item-5 item-5 item-5 item-5 item-10 item-10 item-11 item-11 item-11  item-11  item-11 "
    }
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 85% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

   /* TODO: REFACTOR this */
   .resize{
    font-size: .8rem !important;
}