---
import './ExperienceComponent.css'
---
<div class="bento">
    <div id="accenture" tabindex="0" class="bento__item accenture" style="grid-area: item-0; z-index: 2;">
        <span>Accenture</span>        
    </div>
    <div tabindex="0" class="bento__item icon" style="grid-area: item-1;">
        <img src="angular.svg" alt="Angular logo"/>
    </div>
    <div tabindex="0" class="bento__item icon" style="grid-area: item-2;">
        <img src="git.svg" alt="Git logo"/>
    </div>
    <div tabindex="0" class="bento__item" style="grid-area: item-3">
        <span>Micro Frontends</span>
    </div>
    <div tabindex="0" class="bento__item" style="grid-area: item-4">
        <span>API Development </span>
    </div>
    <div tabindex="0" class="bento__item" style="grid-area: item-5">
        <span>Advance <br>TypeScript|Css </span>
    </div>
    <div tabindex="0" class="bento__item text-bigger" style="grid-area: item-6">
        <ul class="dynamic-texts">
            <li><span>Scrum</span></li>
            <li><span>Jira</span></li>
            <li><span>Confluence</span></li>
        </ul>
    </div>
    <div tabindex="0" class="bento__item" style="grid-area: item-7">
        <span>Integration Architect</span>
    </div>
    <div tabindex="0" class="bento__item" style="grid-area: item-8">
        <span>+3 Años de expereriencia</span>
    </div>
    <div tabindex="0" class="bento__item" style="grid-area: item-9">
        <span>Frontend Developer</span>        
    </div>
    <div tabindex="0" class="bento__item icon" style="grid-area: item-10">
        <img src="react.svg" alt="React logo"/>
    </div>
    <div tabindex="0" class="bento__item icon" style="grid-area: item-11">
        <img src="salesforce.svg" alt="Salesforce logo"/>
    </div>
</div>

<script>

    const descriptions : string[]= [
        "Accenture: Ha sido mi primer trabajo en el mundo de la tecnología, donde he aprendido mucho y he tenido la oportunidad de trabajar en proyectos muy interesantes.",
        "Desarrollo de aplicaciones frontend con Angular (v8 a v13), siguiendo principios de arquitectura escalable, modularidad y buenas prácticas de desarrollo.",
        "Uso de Git y herramientas como GitHub/GitLab para gestionar ramas de desarrollo, colaboración en equipo y control eficiente del historial de cambios en el código.",
        "Implementation of micro frontend architecture in banking projects, enabling scalability and efficient maintenance of large applications with multiple development teams.",
        "Development and integration of REST APIs to connect frontend with backend services, ensuring efficient system communication and interoperability.",
        "TypeScript for web development, applying object-oriented programming to improve maintainability and code robustness and precise web layout based on Figma and InVision designs, utilizing SCSS and responsive design.",
        "Scrum methodology in all projects with daily meetings, sprint planning, and iterative feature delivery. Jira for tracking development progress. Confluence for documenting processes, technical decisions, and project updates.",
        "Definition of project structures, technology selection, and technical solution design to ensure system scalability and maintainability.",
        "Passionate Frontend Developer with 3+ years of experience in designing, developing, and optimizing scalable web applications.",
        "Frontend Developer",
        "Built reusable web components using Stencil.js,Designed and implemented RESTful APIs and database models using NestJS and TypeORM, Developed and documented React UI components in an isolated environment.",
        "Development and maintenance of applications within the Salesforce CRM platform. Implemented Lightning Web Components (LWC) to enhance user experience, optimize system performance, and integrate with SAP", 
    ]
    document.addEventListener("DOMContentLoaded", () => {
      const accenture = document.getElementById("accenture");
      const clickables = document.querySelectorAll(".bento__item");
  
      clickables.forEach(div => {
        div.addEventListener("click", (event: Event) => {
        const target = (event.target as any).closest(".bento__item");
        if (accenture) {
            const clickedUser: number = target.style.gridArea.replace("item-", "");
            accenture.innerText = `${descriptions[clickedUser]}`;
            accenture.classList.add("resize");
            accenture.classList.add("scale-hover");
            
            }
        });
      });
    });


  </script>