@import "_colors";
@import "components/button.scss";

html {
    background-color: var(--color-background);
    font-family: 'JetBrains Mono Variable', monospace;
}
a {
    color: inherit;
    text-decoration: none
}
