<section>
    <div class="container-contact">
    
        <img src="./images/getInTouch.webp" alt="Laptop with a coffee cup" class="contact-image">
        <h2>GET IN TOUCH.</h2>
        <h3>Let's work together and create something amazing.</h3>
        <div class="btn-container">
            <a href="mailto: kelvinjcarreno@gmail.com" class="btn-general">Work with me</a>
        </div>
    </div>
</section>

<style>
    section { 
        padding: 2.5rem;

    }
    .container-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;   
        
    }
    .contact-image{
        height: 324px;
        width: 324px;
        border-radius: 5%;
    }

        
</style>