---
import ExperienceComponent from '../components/ExperienceComponent/ExperienceComponent.astro';
---
<section>
    <h2 class="text-primary text-2xl font-bold">Experience</h2>
    <ExperienceComponent/>
</section>


<style>
    section { 
        padding: 1rem 2.5rem 1rem;
        background: #222222;
        color: white;

    }
</style>